@import "reset.css";
@font-face {
   font-family: 'Formular';
   src: url('../fonts/Formular.ttf') format('truetype');
 }

 .fl {
   width: 13vw;
   height: 15vw;
   position: absolute;
   top: 14vw;
   left: -1vw;
 }
 .fl2 {
   width: 14vw;
   height: 14vw;
   position: absolute;
   top: 1vw;
   left: 1.5vw;
   transform: rotate(-10deg);
 }
 .fl3 {
   width: 10vw;
   height: 10vw;
   position: absolute;
   top: -0.16vw;
   right: -0.5vw;
 }
 .fl4 {
   position: absolute;
   width: 17vw;
   height: 17vw;
   top: 2vw;
   right: 3vw;
 }
 .fl5 {
   position: absolute;
   bottom: 0vw;
   left: 7vw;
   width: 7vw;
   height: 23vw;
   overflow: hidden;
 }
 .fl6 {
   position: absolute;
   top: 23vw;
   right: -0.2vw;
   width: 7vw;
   height: 7vw;
 }
 .fl7 {
   position: absolute;
   bottom: 0vw;
   left: 0vw;
   width: 9vw;
   height: 15vw;
 }
 .fl8 {
   position: absolute;
   top: 12vw;
   right: 0vw;
   width: 8vw;
   height: 9vw;
 }
 .fl9 {
   position: absolute;
   top: 15vw;
   right: 5vw;
   width: 16vw;
   height: 16vw;
 }
 .fl10 {
   position: absolute;
   bottom: -0.5vw;
   right: 0vw;
   width: 13vw;
   height: 16vw;
 }
 .fl11 {
   position: absolute;
   bottom: 7vw;
   right: 8vw;
   width: 10vw;
   height: 10vw;
 }
 .move-area{/*normally use body*/
width: 100vw;
height: 100vh;
padding: 10% 45%;
}
.container {
width: 100%;
}
.eye {
position: relative;
display: inline-block;
border-radius: 50%;
height: 30px;
width: 30px;
background: #CCC;
}
.eye:after { /*pupil*/
position: absolute;
bottom: 17px;
right: 10px;
width: 10px;
height: 10px;
background: #000;
border-radius: 50%;
content: " ";
}

 .flower1 {
   background: url("../images/24.svg");
   width: 10vw;
   height: 10vw;
   background-size: 100% auto;
   position: absolute;
   top: 30.5%;
   left: 5.5%;
 }
 .flower2 {
   background: url("../images/25.svg");
   width: 13vw;
   height: 13vw;
   background-size: 100% auto;
   position: absolute;
   top: 21.5%;
   right: 24%;
 }
 .flower3 {
   background: url("../images/26.svg");
   width: 4vw;
   height: 3.85vw;
   background-size: 100% auto;
   position: absolute;
   top: 53.5%;
   left: 31.5%;
 }
 .flower4 {
   background: url("../images/27.svg");
   width: 4vw;
   height: 3.85vw;
   background-size: 100% auto;
   position: absolute;
   top: 43%;
   left: 31.5%;
 }
 .flower5 {
   background: url("../images/32.svg");
   width: 5vw;
   height: 5vw;
   background-size: 100% auto;
   position: absolute;
   top: 28%;
   left: 39.8%;
 }
 .flower6 {
   background: url("../images/33.svg");
   width: 6vw;
   height: 5.85vw;
   background-size: 100% auto;
   position: absolute;
   top: 48%;
   right: 8.5%;
 }
 .vase1 {
   background: url("../images/28.svg");
   width: 8vw;
   height: 11.3vw;
   background-size: 100% auto;
   position: absolute;
   top: 41%;
   left: 38.5%;
 }
 .vase2 {
   background: url("../images/29.svg");
   width: 15.5vw;
   height: 18vw;
   background-size: 100% auto;
   position: absolute;
   top: 52.5%;
   right: 23%;
 }
 .vase3 {
   background: url("../images/30.svg");
   width: 9vw;
   height: 17.5vw;
   background-size: 100% auto;
   position: absolute;
   top: 55%;
   left: 6%;
 }
 .vase4 {
   background: url("../images/31.svg");
   width: 20vw;
   height: 13.7vw;
   background-size: 100% auto;
   position: absolute;
   top: 63.5%;
   left: 22%;
 }
 .vase5 {
   background: url("../images/34.svg");
   width: 11.6vw;
   height: 14.2vw;
   background-size: 100% auto;
   position: absolute;
   top: 62.5%;
   right: 4%;
 }
.textline_1 {
  width: 100%;
  height: 10%;
  position: relative;
  top: 17%;
  transform: rotate(1.5deg);
}
.textline_2 {
  width: 100%;
  height: 10%;
  position: relative;
  top: 35.5%;
  transform: rotate(2.2deg);
}
.textline_3 {
  width: 100%;
  height: 10%;
  position: relative;
  top: 53.5%;
  transform: rotate(-3.3deg);
  z-index: 8;
}
.row_2 {
  width: 120%;
  height: 80%;
  display: block;
  position: absolute;
  animation: row-move2 0.5s linear infinite;
}
.row {
  width: 120%;
  height: 80%;
  display: block;
  position: absolute;
  animation: row-move 0.9s linear infinite;
}
.row:hover {
  animation-play-state: paused;
}
.row_2:hover {
  animation-play-state: paused;
}
@keyframes row-move {
    0% {left: -20%;}
    100% {left: 0.9%;}
}
@keyframes row-move2 {
    0% {right: -20%;}
    100% {right: 0.9%;}
}
* {
  box-sizing: border-box;
}
h1 {
  font-family: 'Formular';
  font-size: 3vw;
  position: absolute;
  font-style: normal;
}
.all {
  max-width: 100%;
	height: calc(100vh - 16px);
}

.list {
	width: 100%;
  padding-bottom: 73%;
	position: relative;
}
.list1 {
  width: 100%;
  padding-bottom: 83%;
	position: relative;
  top: 0%;
}
.list2 {
	width: 100%;
  padding-bottom: 57.5%;
	position: relative;
  top: -0.5%;
}
.header {
  height: 40%;
	width: 100%;
  position: absolute;
  background-color: #C6C6C6;
  border-bottom: 2px solid black;
}
.tapes {
  height: 100%;
  width: 62.7%;
  position: relative;
  display: inline-block;
	margin-right: -4px;
}
.t9 {
  bottom: 0%;
}
.t8 {
  top: 63%;
  z-index: 6;
}
.t7 {
  top: 65%;
  z-index: 7;
}
.t6 {
  width: 120%;
  height: 12.5%;
  background-color: #18A53F;
  position: absolute;
  top: 52%;
  left: -10%;
  transform: rotate(-4deg);
  z-index: 5;
}
.t5 {
  top: 39%;
}
.t4 {
  top: 32%;
}
.t3 {
  top: 12%;
}
.header img {
  width: 100%;
  position: absolute;
}
.textline_1 p{
  font-family: 'Formular';
  position: absolute;
  font-size: 2.3vw;
  overflow: hidden;
  width: 100%;
  word-spacing: 4vw;
}
.textline_2 p {
  font-family: 'Formular';
  position: absolute;
  font-size: 2.3vw;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  word-spacing: 4vw;
}
.textline_3 p {
  word-spacing: 4vw;
  font-family: 'Formular';
  position: absolute;
  font-size: 2.3vw;
  overflow: hidden;
  width: 100%;
}
.water {
  height: 100%;
  width: 37.3%;
  display: inline-block;
  position: relative;
  background-color: #393EB9;
  z-index: 10;
  border-left: 2px solid black;
}
.circle {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: #C6C6C6;
  position: absolute;
  top: 10%;
  left: 10%;
}
.circle2 {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: #C6C6C6;
  position: absolute;
  top: 25%;
  left: 25%;
}
.circle3 {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: #C6C6C6;
  position: absolute;
  top: 40%;
  left: 60%;
}
.main {
  height: 59%;
  position: absolute;
  width: 100%;
  top: 40%;
}
.main_ {
  height: 50%;
  position: absolute;
  width: 100%;
  top: 50%;
}
.number_1 {
  width: 3.6vw;
  height: 4.8vw;
  position: absolute;
  top: 0;
  background-color: white;
}
.number_1 h1 {
  top: 19%;
  left: 27%;
}
.plants {
  height: 100%;
  width: 31.3%;
  display: inline-block;
  position: relative;
  margin-right: -4px;
  background-color: #C6C6C6;
}
.plants img {
  position: absolute;
}
.p11 {
  top: 34%;
  right: 20%;
  width: 48%;
}
.p10 {
  top: 66.5%;
  right: 0;
  width: 40%;
}
.p9 {
  right: 27.5%;
  top: 65%;
  width: 30%;
}
.p8 {
  right: 2%;
  top: 27.5%;
  width: 25%;
}
.p7 {
  left: 0;
  top: 63%;
  width: 28%;
}
.p6 {
  right: -1%;
  top: 53%;
  width: 28%;
}
.p5 {
  left: 22%;
  bottom: 0%;
  width: 22%;
}
.p4 {
  right: 18%;
  top: 5%;
  width: 45%;
}
.p3 {
  left: 0%;
  top: 32%;
  width: 35%;
}
.p2 {
  right: 5%;
  top: -0.3%;
  width: 22%;
}
.p1 {
  left: 3%;
  top: 8%;
  width: 40%;
}
.right {
  height: 100%;
  width: 68.7%;
  display: inline-block;
  position: relative;
  border-left: 2px solid black;
}
.random {
  height: 100%;
  width: 23.5%;
  display: inline-block;
  position: relative;
  margin-right: -4px;
  border-right: 2px solid black;
  background-color: #C6C6C6;
}
.right_block {
  height: 100%;
  width: 76.5%;
  display: inline-block;
  position: relative;
}
.square {
  width: 4vw;
  height: 4vw;
  background-color: black;
  position: absolute;
}
.head {
  position: relative;
  width: 100%;
  height: 25.2%;
  border-bottom: 2px solid black;
}
.pattern_green {
  display: inline-block;
  position: absolute;
  margin-right: -4px;
  height: 100%;
  width: 52.5%;
  border-right: 2px solid black;
  background-color: #C6C6C6;
}
.pattern_green img {
  position: absolute;
  width: 100%;
}
.value {
  display: inline-block;
  position: absolute;
  right: 0;
  height: 100%;
  width: 47.5%;
  background-color: #C6C6C6;
}
.value h1 {
  top: 39%;
  left: 11%;
}
.bottom {
  position: relative;
  width: 100%;
  height: 74.8%;
}
.grid {
  position: relative;
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  width: 43.5%;
  border-right: 2px solid black;
  background-color: #C6C6C6;
}
.grid img {
  position: absolute;
  top: -0.5%;
  height: 101%;
  width: 100%;
}
.l_1 {
  left: -35%;
}
.l_2 {
  left: -21%;
}
.l_3 {
  left: -7%;
}
.l_4 {
  left: 7%;
}
.l_5 {
  left: 21%;
}
.l_6 {
  left: 35%;
}
.number2 {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 56.5%;
  background-color: #C6C6C6;
}
.number_2 {
  width: 3.6vw;
  height: 4.8vw;
  position: absolute;
  top: 0;
  background-color: white;
}
.number_2 h1 {
  top: 19%;
  left: 24%;
}
.plant {
  width: 100%;
  height: 70.8%;
  position: absolute;
  border-bottom: 2px solid black;
}
.plant img {
  position: absolute;
  left: 15%;
  top: 0%;
  width: 80%;
}
.pattern_black {
  width: 100%;
  height: 29.5%;
  position: absolute;
  bottom: 0%;
}
.pattern_black img {
  position: absolute;
  top: 1%;
  width: 100%;
}
.header_2 {
  width: 100%;
  height: 51%;
  position: absolute;
  top: -1%;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
.number3 {
  height: 100%;
  width: 36.4%;
  position: relative;
  display: inline-block;
  margin-right: -4px;
  border-right: 2px solid black;
}
.rain {
  width: 100%;
  height: 79.5%;
  border-bottom: 2px solid black;
  position: relative;
  background-color: #C6C6C6;
}
.number_3 {
  width: 3.6vw;
  height: 4.8vw;
  position: absolute;
  bottom: 0;
  background-color: white;
}
.number_3 h1 {
  top: 20%;
  left: 23%;
}
.drop1 {
  width: 2.3vw;
  height: 11.2vw;
  position: absolute;
  top: 0;
  background-color: #393EB9;
}
.drop2 {
  width: 2.4vw;
  height: 13vw;
  position: absolute;
  left: 10.5%;
  background-color: #393EB9;
}
.drop3 {
  width: 2.4vw;
  height: 11.2vw;
  position: absolute;
  left: 28%;
  background-color: #393EB9;
}
.drop4 {
  width: 2.4vw;
  height: 13vw;
  position: absolute;
  left: 36.5%;
  background-color: #393EB9;
}
.drop5 {
  width: 2.4vw;
  height: 13vw;
  position: absolute;
  left: 45%;
  background-color: #393EB9;
}
.drop6 {
  width: 2.4vw;
  height: 12vw;
  position: absolute;
  left: 58.5%;
  background-color: #393EB9;
}
.drop7 {
  width: 2.4vw;
  height: 10.5vw;
  position: absolute;
  right: 12.5%;
  background-color: #393EB9;
}
.drop8 {
  width: 2.4vw;
  height: 9vw;
  position: absolute;
  right: 0%;
  background-color: #393EB9;
}
.drop9 {
  width: 2.3vw;
  height: 4vw;
  position: absolute;
  top: 50%;
  left: 0%;
  background-color: #393EB9;
}
.drop10 {
  width: 2.3vw;
  height: 2vw;
  position: absolute;
  top: 70%;
  left: 0%;
  background-color: #393EB9;
}
.drop11 {
  width: 2.4vw;
  height: 4vw;
  position: absolute;
  top: 43%;
  left: 10.5%;
  background-color: #393EB9;
}
.drop12 {
  width: 2.4vw;
  height: 2.5vw;
  position: absolute;
  top: 58%;
  left: 10.5%;
  background-color: #393EB9;
}
.drop13 {
  width: 2.4vw;
  height: 1.5vw;
  position: absolute;
  top: 73%;
  left: 10.5%;
  background-color: #393EB9;
}
.drop14 {
  width: 2.4vw;
  height: 5vw;
  position: absolute;
  top: 40%;
  left: 28%;
  background-color: #393EB9;
}
.drop15 {
  width: 2.4vw;
  height: 2.5vw;
  position: absolute;
  top: 63%;
  left: 36.5%;
  background-color: #393EB9;
}
.drop16 {
  width: 2.4vw;
  height: 1.5vw;
  position: absolute;
  top: 78%;
  left: 36.5%;
  background-color: #393EB9;
}
.drop17 {
  width: 2.4vw;
  height: 5vw;
  position: absolute;
  top: 46%;
  left: 45%;
  background-color: #393EB9;
}
.drop18 {
  width: 2.4vw;
  height: 5vw;
  position: absolute;
  top: 43%;
  left: 58.5%;
  background-color: #393EB9;
}
.drop19 {
  width: 2.4vw;
  height: 1vw;
  position: absolute;
  top: 66%;
  left: 58.5%;
  background-color: #393EB9;
}
.drop20 {
  width: 2.4vw;
  height: 1vw;
  position: absolute;
  top: 89%;
  left: 58.5%;
  background-color: #393EB9;
}
.drop21 {
  width: 2.3vw;
  height: 4vw;
  position: absolute;
  top: 50%;
  left: 0%;
  background-color: #393EB9;
}
.drop22 {
  width: 2.4vw;
  height: 4vw;
  position: absolute;
  top: 36%;
  right: 12.5%;
  background-color: #393EB9;
}
.drop23 {
  width: 2.4vw;
  height: 1.5vw;
  position: absolute;
  top: 53%;
  right: 12.5%;
  background-color: #393EB9;
}
.drop24 {
  width: 2.4vw;
  height: 2.5vw;
  position: absolute;
  top: 75%;
  right: 12.5%;
  background-color: #393EB9;
}
.drop25 {
  width: 2.4vw;
  height: 1vw;
  position: absolute;
  top: 87%;
  right: 12.5%;
  background-color: #393EB9;
}
.drop26 {
  width: 2.4vw;
  height: 3vw;
  position: absolute;
  right: 0%;
  top: 35%;
  background-color: #393EB9;
}
.drop27 {
  width: 2.4vw;
  height: 3vw;
  position: absolute;
  right: 0%;
  top: 47%;
  background-color: #393EB9;
}
.drop28 {
  width: 2.4vw;
  height: 2vw;
  position: absolute;
  right: 0%;
  top: 64%;
  background-color: #393EB9;
}
.pattern_black2 {
  width: 100%;
  height: 20.5%;
  background-color: #C6C6C6;
  position: relative;
}
.pattern_black2 img {
  position: absolute;
  top: -1.5%;
  left: -0.5%;
  width: 101%;
}
.number4 {
  height: 100%;
  width: 63.6%;
  position: relative;
  display: inline-block;
  background-color: #C6C6C6;
}
.number_4 {
  width: 3.6vw;
  height: 4.8vw;
  position: absolute;
  top: 0;
  background-color: white;
}
.number_4 h1 {
  top: 20%;
  left: 22%;
}
.number4 img {
  position: absolute;
  display: block;
}
.main_2 {
  width: 100%;
  height: 57%;
  position: absolute;
  top: 57%;
  border-bottom: 2px solid black;
}
.number5 {
  height: 100%;
  width: 21.8%;
  position: relative;
  display: inline-block;
  margin-right: -4px;
  border-right: 2px solid black;
  background-color: #C6C6C6;
}
.right_b {
  height: 100%;
  width: 78.2%;
  position: relative;
  display: inline-block;
  /* background-color: #C6C6C6; */
}
.lamps {
  height: 78%;
  width: 100%;
  position: absolute;
  border-bottom: 2px solid black;
}
.number_5 {
  width: 3.6vw;
  height: 4.8vw;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
}
.number_5 h1 {
  top: 20%;
  left: 24%;
}
.lamp_1 {
  width: 8.5vw;
  height: 8.5vw;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  opacity: 100%;
  animation: move 10s ease-in-out infinite, blink 1.5s linear infinite;
}
@keyframes move {
  0% {
    transform: translate(8.5vw, 8.5vw);
  }
  10% {
    transform: translate(1vw, 10vw);
  }
  20% {
    transform: translate(5vw, 1vw);
  }
  30% {
    transform: translate(12vw, 20vw);
  }
  40% {
    transform: translate(2vw, 9vw);
  }
  50% {
    transform: translate(5vw, 2vw);
  }
  60% {
    transform: translate(10vw, 10vw);
  }
  70% {
    transform: translate(3vw, 22vw);
  }
  80% {
    transform: translate(10vw, 7vw);
  }
  90% {
    transform: translate(4vw, 1vw);
  }
  100% {
    transform: translate(8.5vw, 8.5vw);
  }
}
@keyframes blink {
  10% {
    opacity: 0;
  }
  80% {
    opacity:  100;
  }
}
.lamp_2 {
  width: 8.5vw;
  height: 8.5vw;
  border-radius: 50%;
  position: absolute;
  bottom: 13%;
  right: 17%;
  background-color: white;
  opacity: 70%;
  animation: move_2 13s ease-in-out infinite, blink2 1.5s linear infinite ;
}
.lamp_1:hover {
  animation-play-state:paused;
}
.lamp_2:hover {
  animation-play-state:paused;
}
@keyframes blink2 {
  20% {
    opacity: 0;
  }
  90% {
    opacity: 100;
  }
}
@keyframes move_2 {
  0% {
    transform: translate(0vw, 0vw);
  }
  10% {
    transform: translate(3vw, -15vw);
  }
  20% {
    transform: translate(1vw, 0vw);
  }
  30% {
    transform: translate(-9vw, -7vw);
  }
  40% {
    transform: translate(3vw, 0vw);
  }
  50% {
    transform: translate(-6vw, -3vw);
  }
  60% {
    transform: translate(1vw, -16vw);
  }
  70% {
    transform: translate(2vw, 2vw);
  }
  80% {
    transform: translate(-8vw, 0vw);
  }
  90% {
    transform: translate(3vw, -6vw);
  }
  100% {
    transform: translate(0vw, 0vw);
  }
}
.value_2 {
  width: 100%;
  height: 22%;
  position: absolute;
  bottom: 0;
}
.value_2 h1 {
  top: 16%;
  left: 13%;
}
.number6 {
  height: 100%;
  width: 58.8%;
  position: relative;
  display: inline-block;
  margin-right: -4px;
  border-right: 2px solid black;
  background-color: #C6C6C6;
}
.pattern_blue {
  height: 100%;
  width: 41.2%;
  position: relative;
  display: inline-block;
  background-color: #C6C6C6;
}
.number_6 {
  width: 3.6vw;
  height: 4.8vw;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
}
.number_6 h1 {
  top: 20%;
  left: 24%;
}
.number6 img {
  position: absolute;
}
.eye_1 {
  width: 16%;
  top: 19%;
  left: 28%;
}
.eye_2 {
  width: 16%;
  top: 19%;
  right: 39%;
}
.eye_3 {
  width: 15%;
  top: 42%;
  left: 6.5%;
}
.eye_4 {
  width: 15%;
  top: 42%;
  left: 23%;
}
.eye_5 {
  width: 20%;
  top: 39%;
  left: 40%;
}
.eye_6 {
  width: 20%;
  top: 39%;
  right: 19%;
}
.eye_7 {
  width: 20%;
  bottom: 12%;
  left: 15%;
}
.eye_8 {
  width: 20%;
  bottom: 12%;
  left: 36%;
}
.eye_9 {
  width: 17%;
  bottom: 16%;
  right: 24%;
}
.eye_10 {
  width: 17%;
  bottom: 16%;
  right: 6%;
}
.pupil_1 {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 33.2%;
  background-color: #18A53F;
}
.pupil_2 {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  right: 44.5%;
  background-color: #18A53F;
}
.pupil_3 {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  position: absolute;
  top: 47.5%;
  left: 11%;
  background-color: #18A53F;
}
.pupil_4 {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  position: absolute;
  top: 47.5%;
  left: 27.5%;
  background-color: #18A53F;
}
.pupil_5 {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  position: absolute;
  top: 47%;
  left: 46.5%;
  background-color: #18A53F;
}
.pupil_6 {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  position: absolute;
  top: 47%;
  right: 26%;
  background-color: #18A53F;
}
.pupil_7 {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  position: absolute;
  bottom: 20%;
  left: 21.5%;
  background-color: #18A53F;
}
.pupil_8 {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  position: absolute;
  bottom: 20%;
  left: 42.5%;
  background-color: #18A53F;
}
.pupil_9 {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  position: absolute;
  bottom: 23%;
  right: 30%;
  background-color: #18A53F;
}
.pupil_10 {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  position: absolute;
  bottom: 23%;
  right: 12%;
  background-color: #18A53F;
}
.line_1 {
  width: 30vw;
  height: 11vw;
  position: absolute;
  background-color: #393EB9;
}
.line_2 {
  width: 10vw;
  height: 33vw;
  position: absolute;
  background-color: #393EB9;
}
.line_3 {
  width: 12vw;
  height: 26vw;
  position: absolute;
  right: 20%;
  background-color: #393EB9;
}
.line_4 {
  width: 10vw;
  height: 16vw;
  position: absolute;
  top: 36%;
  right: 0;
  background-color: #393EB9;
}
.header_3 {
  width: 100%;
  height: 78%;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
.number7 {
  height: 100%;
  width: 63.6%;
  position: relative;
  display: inline-block;
  margin-right: -4px;
  border-right: 2px solid black;
  background-color: #C6C6C6;
}
.right2 {
  height: 100%;
  width: 36.4%;
  position: relative;
  display: inline-block;
  /* background-color: #C6C6C6; */
}
.pattern_green2 {
  width: 100%;
  height: 14.8%;
  border-bottom: 2px solid black;
}
.pg {
  position: absolute;
  top: -0.1%;
  left: -0.9%;
  width: 101%;
}
.number_7 {
  width: 3.6vw;
  height: 4.8vw;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
}
.number_7 h1 {
  top: 20%;
  left: 27%;
}
.bacteria {
  width: 100%;
  height: 85.2%;
  position: absolute;
  top: 14.8%;
}
.bacteria img {
  position: absolute;
}
.bb_1 {
  width: 10%;
  top: 13%;
  left: 20%;
}
.bb_2 {
  width: 21%;
  bottom: 13%;
  right: 31%;
}
.bb_3 {
  width: 19%;
  top: 13%;
  right: 22%;
}
.bb_4 {
  width: 11%;
  bottom: 19%;
  left: 9%;
}
.bb_5 {
  width: 21%;
  top: 26%;
  left: 29%;
}
.bb_6 {
  width: 12%;
  bottom: 15%;
  right: 5%;
}
.bb_7 {
  width: 14%;
  top: 5%;
  left: 3%;
}
.bg_1 {
  width: 9%;
  top: 30%;
  left: 34%;
}
.bg_2 {
  width: 4%;
  top: 43%;
  left: 6%;
}
.bg_3 {
  width: 6%;
  right: 40%;
  bottom: 37%;
}
.bg_4 {
  width: 4%;
  right: 20%;
  bottom: 5%;
}
.bg_5 {
  width: 4%;
  right: 16%;
  top: 10%;
}
.bg_6 {
  width: 7%;
  right: 12%;
  bottom: 35%;
}
.bg_7 {
  width: 7%;
  left: 49%;
  top: 10%;
}
.bg_8 {
  width: 4%;
  left: 35%;
  bottom: 20%;
}
.bw_1 {
  width: 5%;
  right: 5%;
  top: 15%;
}
.bw_2 {
  width: 6%;
  right: 5%;
  top: 17%;
}
.bw_3 {
  width: 7%;
  right: 30%;
  top: 37%;
}
.bw_4 {
  width: 7%;
  right: 29%;
  top: 40%;
}
.bw_5 {
  width: 7%;
  right: 30%;
  top: 45%;
}
.bw_6 {
  width: 4%;
  right: 4%;
  bottom: 20%;
}
.bw_7 {
  width: 4%;
  right: 8%;
  bottom: 26%;
}
.bw_8 {
  width: 4%;
  right: 35%;
  top: 10%;
}
.bw_9 {
  width: 6%;
  left: 13%;
  bottom: 20%;
}
.bw_10 {
  width: 5%;
  left: 13%;
  bottom: 17%;
}
.bw_11 {
  width: 4%;
  left: 14%;
  bottom: 14%;
}
.bw_12 {
  width: 5%;
  right: 28%;
  bottom: 15%;
}
.bw_13 {
  width: 3%;
  right: 27%;
  bottom: 18%;
}
.bw_14 {
  width: 5%;
  left: 27%;
  top: 18%;
}
.bw_15 {
  width: 3%;
  left: 30%;
  bottom: 30%;
}
.bw_16 {
  width: 4%;
  left: 10%;
  top: 8%;
}
.bw_17 {
  width: 5%;
  left: 10%;
  top: 14%;
}
.bw_18 {
  width: 4%;
  left: 40%;
  bottom: 5%;
}
.bw_19 {
  width: 5%;
  left: 40%;
  bottom: 10%;
}
.bw_20 {
  width: 3%;
  left: 5%;
  top: 30%;
}
.bw_21 {
  width: 10%;
  left: 27%;
  top: 37%;
}
.bw_22 {
  width: 7%;
  right: 10%;
  top: 20%;
}
.pattern_black3 {
  width: 100%;
  height: 36.5%;
  border-bottom: 2px solid black;
  position: relative;
  background-color: #C6C6C6;
}
.rectangl_1 {
  width: 8%;
  height: 100%;
  position: absolute;
  left: 9%;
  background-color: black;
}
.rectangl_2 {
  width: 8%;
  height: 100%;
  position: absolute;
  left: 27%;
  background-color: black;
}
.rectangl_3 {
  width: 8%;
  height: 100%;
  position: absolute;
  left: 45%;
  background-color: black;
}
.rectangl_4 {
  width: 8%;
  height: 100%;
  position: absolute;
  left: 63%;
  background-color: black;
}
.rectangl_5 {
  width: 8%;
  height: 100%;
  position: absolute;
  left: 81%;
  background-color: black;
}
.plants_2 {
  width: 100%;
  height: 63.5%;
  position: relative;
  background-color: #C6C6C6;
}
.pl1 {
  width: 16vw;
  height: 16vw;
  position: absolute;
  top: 3%;
  right: 4%;
}
.pl2 {
  width: 18vw;
  height: 18vw;
  position: absolute;
  right: 0;
  top: 45%;
}
.pl3 {
  width: 25vw;
  height: 25vw;
  position: absolute;
  top: 10%;
  left: -5%;
}
.footer {
  width: 100%;
  height: 22%;
  position: absolute;
  top: 78%;
  background-color: #C6C6C6;
}
.line1 {
  width: 0.15%;
  height: 100%;
  background-color: black;
  position: absolute;
  left: 29.45%;
}
.line2 {
  width: 0.15%;
  height: 100%;
  background-color: black;
  position: absolute;
  left: 32.85%;
}
.line3 {
  width: 0.15%;
  height: 100%;
  background-color: black;
  position: absolute;
  left: 36.25%;
}
.line4 {
  width: 0.15%;
  height: 100%;
  background-color: black;
  position: absolute;
  left: 39.65%;
}
.line5 {
  width: 0.15%;
  height: 100%;
  background-color: black;
  position: absolute;
  left: 43.05%;
}
.line6 {
  width: 0.15%;
  height: 100%;
  background-color: black;
  position: absolute;
  left: 46.45%;
}
.line7 {
  width: 0.15%;
  height: 100%;
  background-color: black;
  position: absolute;
  left: 49.85%;
}
.line8 {
  width: 0.15%;
  height: 100%;
  background-color: black;
  position: absolute;
  left: 53.25%;
}
.line9 {
  width: 0.15%;
  height: 100%;
  background-color: black;
  position: absolute;
  left: 56.65%;
}
.line10 {
  width: 0.15%;
  height: 100%;
  background-color: black;
  position: absolute;
  left: 60.05%;
}
.line11 {
  width: 0.15%;
  height: 100%;
  background-color: black;
  position: absolute;
  left: 63.45%;
}
.line12 {
  width: 0.15%;
  height: 100%;
  background-color: black;
  position: absolute;
  left: 66.85%;
}
.footer p {
  font-family: 'Formular';
  font-size: 2vw;
  position: absolute;
  font-style: normal;
}
.name {
  top: 13%;
  left: 2%;
}
.telephone {
  top: 13%;
  left: 70%;
}
.web {
  top: 32%;
  left: 70.2%;
}
.right_blocka {
  display: none;
}
.right_a {
  display: none;
}
.main_2a {
  display: none;
}
.block_a {
  display: none;
}
.list3 {
  display: none;
}
.bottom_a {
  display: none;
}
.footer_a {
  display: none;
}
@media (min-width: 490px) and (max-width: 770px) {
  .list {
    padding-bottom: 100%;
  }
  .list1 {
    top: -1%;
    padding-bottom: 108%;
  }
  .list2 {
    top: 0%;
    padding-bottom: 108%;
  }
  .header {
    height: 40.5%;
    width: 100%;
  }
  .main {
    height: 56.5%;
    position: absolute;
    width: 100%;
    top: 40.5%;
  }
  .main_ {
    display: none;
  }
  .header_2 {
    width: 100%;
    height: 47%;
    position: absolute;
    top: -3%;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
  }
  .main_2 {
    width: 100%;
    height: 57%;
    position: absolute;
    top: 300%;
    border-bottom: 2px solid black;
  }
  .header_3 {
    display: none;
  }
  .tapes {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .t9 {
    bottom: 0%;
  }
  .t8 {
    top: 63%;
    z-index: 6;
  }
  .t7 {
    top: 65%;
    z-index: 7;
  }
  .t6 {
    width: 100%;
    height: 12.5%;
    background-color: #18A53F;
    position: absolute;
    top: 52%;
    left: 0.1%;
    transform: rotate(-4deg);
    z-index: 5;
    overflow: hidden;
  }
  .t5 {
    top: 39%;
  }
  .t4 {
    top: 32%;
  }
  .t3 {
    top: 12%;
  }
  .header img {
    width: 100%;
    position: absolute;
  }
  .textline_1 p{
    font-family: 'Formular';
    position: absolute;
    font-size: 2.3vw;
    overflow: hidden;
    width: 100%;
    word-spacing: 4vw;
  }
  .textline_2 p {
    font-family: 'Formular';
    position: absolute;
    font-size: 2.3vw;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    word-spacing: 4vw;
  }
  .textline_3 p {
    word-spacing: 4vw;
    font-family: 'Formular';
    position: absolute;
    font-size: 2.3vw;
    overflow: hidden;
    width: 100%;
  }
  .textline_1 {
    width: 100%;
    height: 10%;
    position: relative;
    top: 17%;
    transform: rotate(1.5deg);
  }
  .textline_2 {
    width: 100%;
    height: 10%;
    position: relative;
    top: 35.5%;
    transform: rotate(2.2deg);
  }
  .textline_3 {
    width: 100%;
    height: 10%;
    position: relative;
    top: 53.5%;
    transform: rotate(-3.3deg);
    z-index: 8;
  }
  .row_2 {
    width: 100%;
    height: 80%;
    display: block;
    position: absolute;
    /* animation: row-move2 0.5s linear infinite; */
    animation: none;
  }
  .row {
    width: 100%;
    height: 80%;
    display: block;
    position: absolute;
    animation: none;
  }
  .row:hover {
    animation-play-state: paused;
  }
  .row_2:hover {
    animation-play-state: paused;
  }
  @keyframes row-move {
      0% {left: -20%;}
      100% {left: 0.9%;}
  }
  @keyframes row-move2 {
      0% {right: -20%;}
      100% {right: 0.9%;}
  }
  .number_1 {
    width: 3.6vw;
    height: 4.8vw;
    position: absolute;
    top: 0;
    background-color: white;
  }
  .number_1 h1 {
    top: 19%;
    left: 27%;
  }
  .plants {
    height: 100%;
    width: 44.5%;
    display: inline-block;
    position: relative;
    margin-right: -4px;
    background-color: #C6C6C6;
  }
  .plants img {
    position: absolute;
  }
  .p11 {
    top: 34%;
    right: 20%;
    width: 48%;
  }
  .p10 {
    top: 66.5%;
    right: 0;
    width: 40%;
  }
  .p9 {
    right: 27.5%;
    top: 65%;
    width: 30%;
  }
  .p8 {
    right: 2%;
    top: 27.5%;
    width: 25%;
  }
  .p7 {
    left: 0;
    top: 63%;
    width: 28%;
  }
  .p6 {
    right: -1%;
    top: 53%;
    width: 28%;
  }
  .p5 {
    left: 22%;
    bottom: 0%;
    width: 22%;
  }
  .p4 {
    right: 18%;
    top: 5%;
    width: 45%;
  }
  .p3 {
    left: 0%;
    top: 32%;
    width: 35%;
  }
  .p2 {
    right: 5%;
    top: -0.3%;
    width: 22%;
  }
  .p1 {
    left: 3%;
    top: 8%;
    width: 40%;
  }
  .right {
    height: 100%;
    width: 55.5%;
    display: inline-block;
    position: relative;

  }
  .random {
    height: 100%;
    width: 37.8%;
    display: inline-block;
    position: relative;
    margin-right: -4px;
    background-color: #C6C6C6;
  }
  .square {
    width: 5.5vw;
    height: 5.5vw;
    background-color: black;
    position: absolute;
  }
  .right_block {
   display: none;
  }
  .right_blocka {
    height: 100%;
    width: 62.2%;
    display: inline-block;
    position: relative;
    border-left: 2px solid black;
  }
  .water_a {
    position: absolute;
    top: 0;
    height: 75%;
    width: 100%;
    background-color: #393EB9;
  }
  .water {
    display: none;
  }
  .pattern_green {
    position: absolute;
    height: 25%;
    width: 100%;
    background-color: #C6C6C6;
    border-right: none;
    border-top: 2px solid black;
    bottom: 0;
  }
  .pattern_green img {
    position: absolute;
    width: 100%;
  }
  #flower2 {
    left:0%;
  }
  .value {
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
    background-color: #C6C6C6;
    border-top: 2px solid black;
  }
  .value h1 {
    left: 14%;
  }
  .bottom {
    display: none;
  }
  .grid {
    position: relative;
    display: inline-block;
    margin-right: none;
    height: 100%;
    width: 31%;
    border-right: none;
    background-color: #C6C6C6;
  }
  .grid img {
    position: absolute;
    top: -0.5%;
    height: 101%;
    width: 20%;
  }
  .l_1 {
    left: 26%;
  }
  .l_2 {
    left: 60%;
  }
  .l_3 {
    left: -10%;
  }
  .l_4 {
    display: none;
  }
  .l_5 {
    display: none;
  }
  .l_6 {
    display: none;
  }
  .number2 {
    position: relative;
    display: inline-block;
    margin-right: -4px;
    height: 100%;
    width: 69%;
    background-color: #C6C6C6;

  }
  .number_2 {
    width: 3.6vw;
    height: 4.8vw;
    position: absolute;
    top: 0;
    background-color: white;
  }
  .number_2 h1 {
    top: 19%;
    left: 24%;
  }
  .plant {
    width: 100%;
    height: 70.8%;
    margin-right: -4px;
    position: absolute;
    border-bottom: none;
  }
  .plant img {
    position: absolute;
    left: 15%;
    top: 0%;
    width: 100%;
  }
  .pattern_black {
    top: -0.5%;
    height: 38%;
  }
  .pattern_black img {
    position: absolute;
    top: 1%;
    width: 100%;
  }
  .number3 {
    height: 100%;
    width: 48%;
    position: relative;
    display: inline-block;
    margin-right: -4px;
    border-right: 2px solid black;
  }
  .rain {
    width: 100%;
    height: 100%;
    border-bottom: none;
    position: relative;
    background-color: #C6C6C6;
  }
  .number_3 {
    width: 3.6vw;
    height: 4.8vw;
    position: absolute;
    bottom: 0;
    background-color: white;
  }
  .number_3 h1 {
    top: 20%;
    left: 23%;
  }
  .drop1 {
    width: 2.3vw;
    height: 11.2vw;
    position: absolute;
    top: 0;
    background-color: #393EB9;
  }
  .drop2 {
    width: 2.4vw;
    height: 13vw;
    position: absolute;
    left: 10.5%;
    background-color: #393EB9;
  }
  .drop3 {
    width: 2.4vw;
    height: 11.2vw;
    position: absolute;
    left: 28%;
    background-color: #393EB9;
  }
  .drop4 {
    width: 2.4vw;
    height: 13vw;
    position: absolute;
    left: 36.5%;
    background-color: #393EB9;
  }
  .drop5 {
    width: 2.4vw;
    height: 13vw;
    position: absolute;
    left: 45%;
    background-color: #393EB9;
  }
  .drop6 {
    width: 2.4vw;
    height: 12vw;
    position: absolute;
    left: 58.5%;
    background-color: #393EB9;
  }
  .drop7 {
    width: 2.4vw;
    height: 10.5vw;
    position: absolute;
    right: 12.5%;
    background-color: #393EB9;
  }
  .drop8 {
    width: 2.4vw;
    height: 9vw;
    position: absolute;
    right: 0%;
    background-color: #393EB9;
  }
  .drop9 {
    width: 2.3vw;
    height: 4vw;
    position: absolute;
    top: 50%;
    left: 0%;
    background-color: #393EB9;
  }
  .drop10 {
    width: 2.3vw;
    height: 2vw;
    position: absolute;
    top: 70%;
    left: 0%;
    background-color: #393EB9;
  }
  .drop11 {
    width: 2.4vw;
    height: 4vw;
    position: absolute;
    top: 43%;
    left: 10.5%;
    background-color: #393EB9;
  }
  .drop12 {
    width: 2.4vw;
    height: 2.5vw;
    position: absolute;
    top: 58%;
    left: 10.5%;
    background-color: #393EB9;
  }
  .drop13 {
    width: 2.4vw;
    height: 1.5vw;
    position: absolute;
    top: 73%;
    left: 10.5%;
    background-color: #393EB9;
  }
  .drop14 {
    width: 2.4vw;
    height: 5vw;
    position: absolute;
    top: 40%;
    left: 28%;
    background-color: #393EB9;
  }
  .drop15 {
    width: 2.4vw;
    height: 2.5vw;
    position: absolute;
    top: 63%;
    left: 36.5%;
    background-color: #393EB9;
  }
  .drop16 {
    width: 2.4vw;
    height: 1.5vw;
    position: absolute;
    top: 78%;
    left: 36.5%;
    background-color: #393EB9;
  }
  .drop17 {
    width: 2.4vw;
    height: 5vw;
    position: absolute;
    top: 46%;
    left: 45%;
    background-color: #393EB9;
  }
  .drop18 {
    width: 2.4vw;
    height: 5vw;
    position: absolute;
    top: 43%;
    left: 58.5%;
    background-color: #393EB9;
  }
  .drop19 {
    width: 2.4vw;
    height: 1vw;
    position: absolute;
    top: 66%;
    left: 58.5%;
    background-color: #393EB9;
  }
  .drop20 {
    width: 2.4vw;
    height: 1vw;
    position: absolute;
    top: 89%;
    left: 58.5%;
    background-color: #393EB9;
  }
  .drop21 {
    width: 2.3vw;
    height: 4vw;
    position: absolute;
    top: 50%;
    left: 0%;
    background-color: #393EB9;
  }
  .drop22 {
    width: 2.4vw;
    height: 4vw;
    position: absolute;
    top: 36%;
    right: 12.5%;
    background-color: #393EB9;
  }
  .drop23 {
    width: 2.4vw;
    height: 1.5vw;
    position: absolute;
    top: 53%;
    right: 12.5%;
    background-color: #393EB9;
  }
  .drop24 {
    width: 2.4vw;
    height: 2.5vw;
    position: absolute;
    top: 75%;
    right: 12.5%;
    background-color: #393EB9;
  }
  .drop25 {
    width: 2.4vw;
    height: 1vw;
    position: absolute;
    top: 87%;
    right: 12.5%;
    background-color: #393EB9;
  }
  .drop26 {
    width: 2.4vw;
    height: 3vw;
    position: absolute;
    right: 0%;
    top: 35%;
    background-color: #393EB9;
  }
  .drop27 {
    width: 2.4vw;
    height: 3vw;
    position: absolute;
    right: 0%;
    top: 47%;
    background-color: #393EB9;
  }
  .drop28 {
    width: 2.4vw;
    height: 2vw;
    position: absolute;
    right: 0%;
    top: 64%;
    background-color: #393EB9;
  }
  .right_a {
    height: 100%;
    width: 52%;
    position: relative;
    display: inline-block;
  }
  .pattern_black2 {
    display: none;
  }
  .number4 {
    width: 100%;
  }
  .number_4 {
    width: 3.6vw;
    height: 4.8vw;
    position: absolute;
    top: 0;
    background-color: white;
  }
  .number_4 h1 {
    top: 20%;
    left: 22%;
  }
  .number4 img {
    position: absolute;
    display: block;
  }
  h1 {
    font-family: 'Formular';
    font-size: 4vw;
    position: absolute;
    font-style: normal;
  }
  .main_2a {
    width: 100%;
    height: 58%;
    position: absolute;
    bottom: -2%;
    display: block;
  }
  .right_b {
    height: 50%;
    width: 78.2%;
    position: relative;
    display: inline-block;
    /* background-color: #C6C6C6; */
  }
  .flower1 {
    background: url("../images/24.svg");
    width: 15vw;
    height: 15vw;
    background-size: 100% auto;
    position: absolute;
    top: 30.5%;
    left: 5.5%;
  }
  .flower2 {
    background: url("../images/25.svg");
    width: 13vw;
    height: 13vw;
    background-size: 100% auto;
    position: absolute;
    top: 21.5%;
    right: 24%;
  }
  .flower3 {
    background: url("../images/26.svg");
    width: 4vw;
    height: 3.85vw;
    background-size: 100% auto;
    position: absolute;
    top: 53.5%;
    left: 31.5%;
  }
  .flower4 {
    background: url("../images/27.svg");
    width: 4vw;
    height: 3.85vw;
    background-size: 100% auto;
    position: absolute;
    top: 43%;
    left: 31.5%;
  }
  .flower5 {
    background: url("../images/32.svg");
    width: 5vw;
    height: 5vw;
    background-size: 100% auto;
    position: absolute;
    top: 28%;
    left: 39.8%;
  }
  .flower6 {
    background: url("../images/33.svg");
    width: 6vw;
    height: 5.85vw;
    background-size: 100% auto;
    position: absolute;
    top: 48%;
    right: 8.5%;
  }
  .vase1 {
    background: url("../images/28.svg");
    width: 8vw;
    height: 11.3vw;
    background-size: 100% auto;
    position: absolute;
    top: 41%;
    left: 38.5%;
  }
  .vase2 {
    background: url("../images/29.svg");
    width: 15.5vw;
    height: 18vw;
    background-size: 100% auto;
    position: absolute;
    top: 52.5%;
    right: 23%;
  }
  .vase3 {
    background: url("../images/30.svg");
    width: 9vw;
    height: 17.5vw;
    background-size: 100% auto;
    position: absolute;
    top: 55%;
    left: 6%;
  }
  .vase4 {
    background: url("../images/31.svg");
    width: 20vw;
    height: 13.7vw;
    background-size: 100% auto;
    position: absolute;
    top: 63.5%;
    left: 22%;
  }
  .vase5 {
    background: url("../images/34.svg");
    width: 11.6vw;
    height: 14.2vw;
    background-size: 100% auto;
    position: absolute;
    top: 62.5%;
    right: 4%;
  }
  .block_a {
    width: 100%;
    height: 46%;
    position: absolute;
    display: block;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  .footer {
    display: none;
  }
  .bottom_a {
    width: 100%;
    height: 54%;
    position: absolute;
    top: 46%;
    display: block;
  }
  .number5 {
    height: 100%;
    width: 32%;
    position: relative;
    display: inline-block;
    margin-right: none;
    border-right: none;
    background-color: #C6C6C6;
  }
  .left_block {
    height: 100%;
    width: 68%;
    position: relative;
    display: inline-block;
    margin-right: -4px;
    border-right: 2px solid black;
    background-color: #C6C6C6;
  }
  .plants_a {
    height: 63%;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 2px solid black;
  }
  .list3 {
    position: relative;
    top: 0%;
    display: block;
    padding-bottom: 87%;
  }
  .bblock_a {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    border-top: 2px solid black;
    background-color: #C6C6C6;
  }
  .pattern_green2 {
    width: 100%;
    height: 11.9%;
    border-bottom: 2px solid black;
  }
  .bacteria {
    top: 11.9%;
    height: 67%;
    border-bottom: 2px solid black;
  }
  .footer_a {
    display: block;
    width: 100%;
    height: 21%;
    position: absolute;
    bottom: 0;
    background-color: #C6C6C6;
  }
  .line1 {
    width: 0.15%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 29.45%;
  }
  .line2 {
    width: 0.15%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 32.85%;
  }
  .line3 {
    width: 0.15%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 36.25%;
  }
  .line4 {
    width: 0.15%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 39.65%;
  }
  .line5 {
    width: 0.15%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 43.05%;
  }
  .line6 {
    width: 0.15%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 46.45%;
  }
  .line7 {
    width: 0.15%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 49.85%;
  }
  .line8 {
    width: 0.15%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 53.25%;
  }
  .line9 {
    width: 0.15%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 56.65%;
  }
  .line10 {
    width: 0.15%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 60.05%;
  }
  .line11 {
    width: 0.15%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 63.45%;
  }
  .line12 {
    width: 0.15%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 66.85%;
  }
  .footer_a p {
    font-family: 'Formular';
    font-size: 2.5vw;
    position: absolute;
    font-style: normal;
  }
  .name {
    top: 13%;
    left: 2%;
  }
  .telephone {
    top: 13%;
    left: 70%;
  }
  .web {
    top: 32%;
    left: 70.2%;
  }
}
.block_m {
  display: none;
}
.header_m {
  display: none;
}
.pattern_m {
  display: none;
}
.pat_m {
  display: none;
}
.vase_m {
  display: none;
}
  @media (min-width: 320px) and (max-width: 490px) {
 	 .list {
 	   padding-bottom: 205%;
 	 }
   .header {
     height: 27%;
     width: 100%;
   }
   .main {
     height: 39%;
     position: absolute;
     width: 100%;
     top: 27%;
   }
   .main_ {
     display: none;
   }
   .header_2 {
     display: none;
   }
   .main_2 {
     width: 100%;
     height: 57%;
     position: absolute;
     top: 300%;
     border-bottom: 2px solid black;
   }
   .header_3 {
     display: none;
   }
   .tapes {
     height: 100%;
     width: 100%;
     position: relative;
   }
   .t9 {
     bottom: 0%;
   }
   .t8 {
     top: 63%;
     z-index: 6;
   }
   .t7 {
     top: 65%;
     z-index: 7;
   }
   .t6 {
     width: 100%;
     height: 12.5%;
     background-color: #18A53F;
     position: absolute;
     top: 52%;
     left: 0.1%;
     transform: rotate(-4deg);
     z-index: 5;
     overflow: hidden;
   }
   .t5 {
     top: 39%;
   }
   .t4 {
     top: 32%;
   }
   .t3 {
     top: 12%;
   }
   .header img {
     width: 100%;
     position: absolute;
   }
   .textline_1 p{
     font-family: 'Formular';
     position: absolute;
     font-size: 2.3vw;
     overflow: hidden;
     width: 100%;
     word-spacing: 4vw;
   }
   .textline_2 p {
     font-family: 'Formular';
     position: absolute;
     font-size: 2.3vw;
     overflow: hidden;
     width: 100%;
     z-index: 1;
     word-spacing: 4vw;
   }
   .textline_3 p {
     word-spacing: 4vw;
     font-family: 'Formular';
     position: absolute;
     font-size: 2.3vw;
     overflow: hidden;
     width: 100%;
   }
   .textline_1 {
     width: 100%;
     height: 10%;
     position: relative;
     top: 17%;
     transform: rotate(1.5deg);
   }
   .textline_2 {
     width: 100%;
     height: 10%;
     position: relative;
     top: 35.5%;
     transform: rotate(2.2deg);
   }
   .textline_3 {
     width: 100%;
     height: 10%;
     position: relative;
     top: 53.5%;
     transform: rotate(-3.3deg);
     z-index: 8;
   }
   .row_2 {
     width: 100%;
     height: 80%;
     display: block;
     position: absolute;
     /* animation: row-move2 0.5s linear infinite; */
     animation: none;
   }
   .row {
     width: 100%;
     height: 80%;
     display: block;
     position: absolute;
     animation: none;
   }
   .row:hover {
     animation-play-state: paused;
   }
   .row_2:hover {
     animation-play-state: paused;
   }
   @keyframes row-move {
       0% {left: -20%;}
       100% {left: 0.9%;}
   }
   @keyframes row-move2 {
       0% {right: -20%;}
       100% {right: 0.9%;}
   }
   .number_1 {
     width: 3.6vw;
     height: 4.8vw;
     position: absolute;
     top: 0;
     background-color: white;
   }
   .number_1 h1 {
     top: 19%;
     left: 27%;
   }
   .plants {
     height: 100%;
     width: 70%;
     display: inline-block;
     position: relative;
     margin-right: -4px;
     background-color: #C6C6C6;
   }
   .plants img {
     position: absolute;
   }
   .p11 {
     top: 34%;
     right: 20%;
     width: 48%;
   }
   .p10 {
     top: 66.5%;
     right: 0;
     width: 40%;
   }
   .p9 {
     right: 27.5%;
     top: 65%;
     width: 30%;
   }
   .p8 {
     right: 2%;
     top: 27.5%;
     width: 25%;
   }
   .p7 {
     left: 0;
     top: 63%;
     width: 28%;
   }
   .p6 {
     right: -1%;
     top: 53%;
     width: 28%;
   }
   .p5 {
     left: 22%;
     bottom: 0%;
     width: 22%;
   }
   .p4 {
     right: 18%;
     top: 5%;
     width: 45%;
   }
   .p3 {
     left: 0%;
     top: 32%;
     width: 35%;
   }
   .p2 {
     right: 5%;
     top: -0.3%;
     width: 22%;
   }
   .p1 {
     left: 3%;
     top: 8%;
     width: 40%;
   }
   .right {
     height: 100%;
     width: 30%;
     display: inline-block;
     position: relative;

   }
   .random {
     height: 100%;
     width: 100%;
     display: inline-block;
     position: relative;
     margin-right: -4px;
     background-color: #C6C6C6;
   }
   .square {
     width: 7.8vw;
     height: 7.8vw;
     background-color: black;
     position: absolute;
   }
   .right_block {
    display: none;
   }
   .right_blocka {
     height: 100%;
     width: 62.2%;
     display: none;
     position: relative;
     border-left: none;
   }
   .block_m {
     display: block;
     width: 100%;
     height: 34%;
     position: absolute;
     bottom: 0;
     border-top: 2px solid black;
     background-color: #C6C6C6;
   }
   .pattern_greenm {
     height: 100%;
     width: 30%;
     position: relative;
     left: -3%;
     display: inline-block;
     margin-right: -4px;
   }
   .pattern_greenm img {
     position: absolute;
     height: 100%;
   }
   .water_m {
     height: 100%;
     width: 70%;
     position: relative;
     display: inline-block;
     border-left: 2px solid black;
   }
   .water_a {
     position: absolute;
     top: 0;
     height: 100%;
     width: 100%;
     background-color: #393EB9;
   }
   .water {
     display: none;
   }
   .pattern_green {
     position: absolute;
     height: 25%;
     width: 100%;
     background-color: #C6C6C6;
     border-right: none;
     border-top: 2px solid black;
     bottom: 0;
   }
   .pattern_green img {
     position: absolute;
     width: 100%;
   }
   .value {
     position: absolute;
     top: 0;
     height: 20%;
     width: 100%;
     background-color: #C6C6C6;
     border-top: none;
   }
   .value h1 {
     left: 10%;
     top: 30%;
   }
   h1 {
     font-size: 7vw;
   }
   .rain {
     height: 80%;
     border-bottom: none;
     position: absolute;
     bottom: 0;
     border-top: 2px solid black;
   }
   .bottom {
     display: none;
   }
   .grid {
     position: absolute;
     right: 1%;
     display: inline-block;
     margin-right: none;
     height: 100%;
     width: 28%;
     border-right: none;
     background-color: #C6C6C6;
   }
   .grid img {
     position: absolute;
     top: -0.5%;
     height: 101%;
     width: 20%;
   }
   .l_1 {
     left: 26%;
   }
   .l_2 {
     left: 60%;
   }
   .l_3 {
     left: -10%;
   }
   .l_4 {
     display: none;
   }
   .l_5 {
     display: none;
   }
   .l_6 {
     display: none;
   }
   .number2 {
     position: relative;
     display: inline-block;
     margin-right: -4px;
     height: 100%;
     width: 69%;
     background-color: #C6C6C6;
   }
   .number_2 {
     width: 3.6vw;
     height: 4.8vw;
     position: absolute;
     top: 0;
     background-color: white;
   }
   .number_2 h1 {
     top: 19%;
     left: 24%;
   }
   .plant {
     width: 72%;
     height: 100%;
     margin-right: none;
     position: absolute;
     border-bottom: none;
   }
   #flower {
     position: absolute;
   }
   .plant img {
     position: absolute;
     left: 15%;
     top: 0%;
     width: 100%;
   }
   .pattern_black {
     top: -0.8%;
     height: 38%;
   }
   .pattern_black img {
     position: absolute;
     top: 1%;
     width: 100%;
   }
   .list1 {
 	   padding-bottom: 197%;
 	 }
   .header_m {
     width: 100%;
     height: 51%;
     position: absolute;
     top: -0.2%;
     display: block;
     border-top: 2px solid black;
     background-color: #C6C6C6;
   }
   .value_m {
     width: 100%;
     height: 73%;
     position: absolute;
     top: 27%;
     border-top: 2px solid black;
   }
   .bottomm {
     display: block;
     width: 100%;
     height: 97%;
     position: relative;
     top: 100%;
     border-top: 2px solid black;
   }
   .left_m {
     height: 100%;
     width: 57%;
     display: inline-block;
     position: relative;
     margin-right: -4px;
     border-right: 2px solid black;
   }
   .right_m {
     height: 100%;
     width: 43%;
     display: inline-block;
     position: relative;
   }
   .number5 {
     width: 100%;
     border-right: none;
   }
   .number_3 h1 {
     top: -50%;
   }
   .list2 {
 	   padding-bottom: 177%;
 	 }
   .footer {
     display: none;
   }
   .pattern_m {
     display: block;
     height: 15.3%;
     width: 100%;
     border-top: 2px solid black;
     position: absolute;
     top: 0.5%;
   }
   .pat_m {
     width: 100%;
     position: absolute;
     top: -0.5%;
     display: block;
     background-color: #C6C6C6;
   }
   .number4 {
     display: block;
     width: 100%;
     position: absolute;
     top: 0%;
     height: 100%;
     border-top: 2px solid black;
   }
   .block_a {
     display: block;
     width: 100%;
     height: 40%;
     position: absolute;
     top: 60%;
     border-top: 2px solid black;
   }
   .vase_m {
     display: block;
     width: 100%;
     height: 45%;
     position: absolute;
     top: 15%;
   }
   .list3 {
     position: relative;
     top: -0.5%;
     padding-bottom: 150%;
     display: block;
   }
   .head_m {
     width: 100%;
     height: 27%;
     position: absolute;
     border-top: 2px solid black;
     background-color: #C6C6C6;
   }
   .bblock_a {
     width: 100%;
     height: 50%;
     position: absolute;
     top: 27%;
     border-top: 2px solid black;
     background-color: #C6C6C6;
   }
   .patt_m {
     width: 27%;
     height: 100%;
     position: relative;
     display: inline-block;
     margin-right: -4px;
     border-right: 2px solid black;
   }
   .pl_m {
     width: 73%;
     height: 100%;
     position: relative;
     display: inline-block;
   }
   .rec_m {
     width: 20%;
     height: 100%;
     position: absolute;
     left: 20%;
     background-color: black;
   }
   .rec2_m {
       width: 20%;
       height: 100%;
       left: 60%;
       position: absolute;
       background-color: black;
     }
   .bacteria {
    height: 100%;
    background-color: #C6C6C6;
   }
   .footer_a {
     display: block;
     width: 100%;
     height: 31%;
     position: absolute;
     top: 115%;;
     background-color: #C6C6C6;
     border-top: 2px solid black;
   }
   .line1 {
     width: 0.15%;
     height: 100%;
     background-color: black;
     position: absolute;
     left: 29.45%;
   }
   .line2 {
     width: 0.15%;
     height: 100%;
     background-color: black;
     position: absolute;
     left: 32.85%;
   }
   .line3 {
     width: 0.15%;
     height: 100%;
     background-color: black;
     position: absolute;
     left: 36.25%;
   }
   .line4 {
     width: 0.15%;
     height: 100%;
     background-color: black;
     position: absolute;
     left: 39.65%;
   }
   .line5 {
     width: 0.15%;
     height: 100%;
     background-color: black;
     position: absolute;
     left: 43.05%;
   }
   .line6 {
     width: 0.15%;
     height: 100%;
     background-color: black;
     position: absolute;
     left: 46.45%;
   }
   .line7 {
     width: 0.15%;
     height: 100%;
     background-color: black;
     position: absolute;
     left: 49.85%;
   }
   .line8 {
     width: 0.15%;
     height: 100%;
     background-color: black;
     position: absolute;
     left: 53.25%;
   }
   .line9 {
     width: 0.15%;
     height: 100%;
     background-color: black;
     position: absolute;
     left: 56.65%;
   }
   .line10 {
     width: 0.15%;
     height: 100%;
     background-color: black;
     position: absolute;
     left: 60.05%;
   }
   .line11 {
     width: 0.15%;
     height: 100%;
     background-color: black;
     position: absolute;
     left: 63.45%;
   }
   .line12 {
     width: 0.15%;
     height: 100%;
     background-color: black;
     position: absolute;
     left: 66.85%;
   }
   .footer_a p {
     font-family: 'Formular';
     font-size: 2.5vw;
     position: absolute;
     font-style: normal;
   }
   .name {
     top: 13%;
     left: 2%;
   }
   .telephone {
     top: 13%;
     left: 70%;
   }
   .web {
     top: 32%;
     left: 70.2%;
   }
 }
}
